
.vs/ProjetoLFA/v15/.suo
.vs/ProjetoLFA/v15/Server/sqlite3/db.lock
.vs/ProjetoLFA/v15/Server/sqlite3/storage.ide
.vs/ProjetoLFA/v15/Server/sqlite3/storage.ide-shm
.vs/ProjetoLFA/v15/Server/sqlite3/storage.ide-wal
ProjetoLFA/obj/Debug/ProjetoLFA.csproj.CoreCompileInputs.cache
ProjetoLFA/obj/Debug/ProjetoLFA.csproj.CoreCompileInputs.cache
*.cache
ProjetoLFA/obj/Debug/ProjetoLFA.csproj.CoreCompileInputs.cache
